/*=head Header
 * @author Kieran Blazier
 */

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Open Sans", monospace;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 60vmin;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.result {
  display: flex;
  height: 15vmin;
  flex-basis: 100%;
  justify-content: flex-end;
  align-items: center;
  font-size: 2em;
  background: #000;
  color: #fff;
  padding: 0 10px;
}

.button {
  display: flex;
  position: relative;
  flex-basis: 25%;
  height: 15vmin;
  width: 15vmin;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  background: #ddd;
  cursor: pointer;
  font-size: 2em;
  aspect-ratio: 1;
  box-sizing: border-box;
}

.button:hover {
   filter: brightness(150%);
}

.disabled {
  background: gray;
  cursor: not-allowed;
}

.flash {
    -webkit-animation-name: flash-animation;
    -webkit-animation-duration: 0.3s;

    animation-name: flash-animation;
    animation-duration: 0.3s;
}


@-webkit-keyframes flash-animation {
    from { background: gray; }
    to   { background: default; }
}

@keyframes flash-animation {  
    from { background: gray; }
    to   { background: default; }
}

.operator {
  background: #f98110;
  color: #fff;
}

.double {
  flex-grow: 2;
}
